.about {
    height: 100vh;
}

.aboutBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.aboutDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    width: 55%;
}

.aboutDescription h1{
    font-size: 3rem;
    font-weight: 600;
    color: #15315E;
    font-family: Epilogue;
    margin-bottom: 40px;
}

.aboutImage {
    width: 100%;
    height: 400px;
}

.aboutDescription h2 {
    font-size: 2rem;
    font-weight: 400;
    font-family: Epilogue;
    color:#2A4166;
}

.aboutDescription p {
    font-size: 1.25rem;
    font-family: Epilogue;
    color: #22385C;
}