.landing {
    height: 100vh;
}

.landingBody {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.landingDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0.5;
}

.landingDescription p {
    font-size: 18px;
    color: #202A39;
    font-family: Epilogue;
    width: 85%;
}


.headingImage {
    width: 80%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}


.landingImage {
    flex: 0.5;
    height: 550px;
    width: 400px;
    box-sizing: border-box;
    padding: 1rem;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}



@media (min-width: 992px) and (max-width: 1380px) {

}


@media screen and (max-width: 992px) {

}


@media screen and (max-width: 800px) {
    .landing {
        height: 100vh;
    }
    .landingBody {
        flex-direction: column;
    }
}