.card {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 80%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h1 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 31px;
    text-align: center;
    color: #15315E;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
}

.card_img {
    width: 40%;
    height: 250px;
    position: relative;
}

.image {
    border-radius: 30px;
    width: 100%;
    object-fit: cover;
}

.card_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown {
    width: 90%;
    padding: 1rem;
}

.icon {
    color: #365586;
    font-size: 1.25rem;
}

.dropdown_heading {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;  
    color: #15315E;
}

.dropdown_content {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 992px) and (max-width: 1380px) {
    .card {
        padding: 1.5rem;
    }
}


@media screen and (max-width: 992px) {
    .card {
        width: 90%;
        padding: 1.5rem;
    }
}


@media screen and (max-width: 800px) {
    .card {
        width: 100%;
        padding: 1.5rem 1rem;
    }
    .card h1 {
        font-size: 1.35rem;
    }
    .container {
        flex-direction: column;
        margin-top: 1rem;
    }
    .card_img {
        width: 100%;
        height: 200px;
        position: relative;
    }
    .image {
        border-radius: 20px;
    }    
    .dropdown {
        width: 100%;
        padding: 1rem 0;
    }
}