.purchase {
    height: 100vh;
    position: relative;
}

.purchaseBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.2rem;
}

.purchaseBody h1 {
    color: #15315E;
    font-size: 3rem;
    font-family: Epilogue;
    padding: 4.5rem 0;
    font-weight: 600;
}

.phoneContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.phoneNums {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #15315E;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 1.25rem 1.25rem 1.25rem 2rem;
    position: relative;
}

.phoneIcon {
    position: absolute;
    left: 0;
    font-size: 2rem;
    color: #15315E;
    left: -1.25rem;
    background-color: #ffffff;
    padding: 0.35rem;
    box-sizing: content-box;
}

.phone {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.55rem;
    line-height: 137%;
    text-align: center;
    color: #15315E;
}

.emailContainer {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.emailIcon {
    font-size: 2rem;
    color: #15315E;
}

.email {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.55rem;
    line-height: 137%;
    text-align: center;
    color: #15315E;
}

.bold {
    font-weight: 800;
}

.image {
    position: absolute;
    right: 20%;
    width: 100px;
    pointer-events: none;
}


@media (min-width: 992px) and (max-width: 1380px) {

}


@media screen and (max-width: 992px) {

}


@media screen and (max-width: 800px) {
    .purchase {
        min-height: 100vh;
    }
    .purchaseBody h1 {
        font-size: 2rem;
        padding: 2.5rem 0;
    }
    .phoneIcon {
        font-size: 1.75rem;
        left: -1.25rem;
        padding: 0.35rem;
    }
    
    .phone {
        font-size: 1.35rem;
    }
    
    .emailContainer {
        gap: 0.5rem;
        margin: 1rem 0;
    }
    
    .emailIcon {
        font-size: 1.75rem;
    }
    
    .email {
        font-size: 1.15rem;
    }
    .image {
        display: none;
    }
}