.sidebar {
    background: #15315E;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
}

.sidebarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.logo {
    width: 40%;
    cursor: pointer;
}


.navItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding-left: 3rem;
    margin-top: 2rem;
}

.navLink {
    border-radius: 40px 0 0 40px;
    width: 100%;
    padding: 1rem;
    font-family: Epilogue;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    padding-left: 4rem;
    margin: 0.5rem 0;
    white-space: nowrap;
}

.navLinkActive {
    background-color: #FFFFFF;
    color: #15315E;
    border-radius: 40px 0 0 40px;
    width: 100%;
    padding: 1rem;
    font-family: Epilogue;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    padding-left: 4rem;
    margin: 0.5rem 0;
}



@media (min-width: 992px) and (max-width: 1380px) {
    .navItems {
        padding-left: 1rem;
    }
    .navLink {
        font-size: 24px;
        padding-left: 3rem;
        white-space: nowrap;
    }
    .navLinkActive {
        font-size: 24px;
        padding-left: 3rem;
        white-space: nowrap;
    }
}


@media screen and (max-width: 992px) {
    .navItems {
        padding-left: 1rem;
    }
    .navLink {
        font-size: 20px;
        padding-left: 1.5rem;
        white-space: nowrap;
    }
    .navLinkActive {
        font-size: 20px;
        padding-left: 1.5rem;
        white-space: nowrap;
    }
}


@media screen and (max-width: 800px) {
    .sidebar {
        display: none;
    }
}